**Data Manipulation with Pandas: Data Selection**

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

**Creates data**

In [2]:
data = np.arange(8)

In [3]:
data

array([0, 1, 2, 3, 4, 5, 6, 7])

**Rearanges the data**

In [4]:
data.reshape((4,2))

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7]])

**Select and search data**

In [8]:
index = ['row1', 'row2', 'row3', 'row4',
         'row5', 'row6', 'row7', 'row8']
serie = Series(data,index=index)

In [6]:
serie

row1    0
row2    1
row3    2
row4    3
row5    4
row6    5
row7    6
row8    7
dtype: int64

In [7]:
serie['row7']

6

**Select data from a dataframe**

In [14]:
np.random.seed(25)
index = ['row1', 'row2', 'row3', 
         'row4', 'row5', 'row6']
columns = ['column1','column2','column3',
           'column4', 'column5','column6']
df = DataFrame(np.random.rand(36).reshape((6,6)),
              index=index,
              columns=columns)
df

       column1   column2   column3   column4   column5   column6
row1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
row2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
row3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
row4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
row5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
row6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

*.loc*

In [17]:
df.loc[['row2','row4'],['column3','column5']]

       column3   column5
row2  0.556229  0.402366
row4  0.481343  0.383048

**Slice the data**

In [18]:
serie['row3':'row7']

row3    2
row4    3
row5    4
row6    5
row7    6
dtype: int64